body {
  font-family: "Edu TAS Beginner", cursive, sans-serif;
}

header {
  padding: 4rem;
}
.wrapper {
  padding: 4rem;
}

.hero__h1 {
  font-size: 90px;
  max-width: 60%;
  font-weight: 300;
  line-height: 1.25;
}

.sidebar {
  width: 10%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
}

.sidebar__food {
  background-color: rgb(94, 163, 236);
}

.sidebar__retail {
  background-color: rgb(246, 68, 68);
}

.sidebar__community {
  background-color: rgb(255, 180, 0);
}

.sidebar__food,
.sidebar__community,
.sidebar__retail {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
}

.sidebar__food div,
.sidebar__community,
.sidebar__retail {
}
